<launch>

	<!-- chessboard size as NxM, counting interior corners -->
	<arg name="size" value="8x6" />

	<!-- chessboard square size in meters -->
	<arg name="square" value="0.024" />

	<!-- allow specified slop (in seconds) when pairing images from unsynchronized stereo cameras -->
	<arg name="approximate" value="0.01" />


	<group ns="stereo">
	    <include file="$(find minoru_camera)/launch/camera/minoru_camera.launch" />

		<node name="calibrator" pkg="camera_calibration" type="cameracalibrator.py"
			args="--size $(arg size) --square $(arg square) --approximate=$(arg approximate)"
			output="screen" clear_params="true">
			<remap from="left" to="/stereo/left/image_raw" />
			<remap from="right" to="/stereo/right/image_raw" />
			<remap from="left_camera" to="/stereo/left" />
			<remap from="right_camera" to="/stereo/right" />
		</node>
	</group>
</launch>

